[mysqld]
character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci
init_connect         = 'SET NAMES utf8mb4 COLLATE utf8mb4_general_ci'
# Para queries longas durante cargas iniciais (ajuste se necessário)
max_allowed_packet   = 512M
